body.home{
  background-color:#071334;
}
a.none{
  text-decoration: none;
  color: black;
}
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 0!important; /* Sit on top */
  left: 0;
  top: 0;
  margin-top: 22%;
  margin-left:55%;
  width: 50%; /* Full width */
  height: 50%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.0); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color:#f63!important;
  /*margin: 15% auto;*/ /* 15% from the top and centered */
  padding: 1%;
  border: 4px solid #071334!important;
  height: 100%;
  width: 100%; /* Could be more or less, depending on screen size */
  animation-name: animacion;
  animation-duration: 0.8s

}
@keyframes animacion {
  from {right: -100%; opacity: 0}
  to {right: 0; opacity: 1}
}

.separator{
  margin-top: 1%;
  margin-bottom: 1%;
  width: 100%;
  background-color: black;
  height: 1px;
  
}
/* The Close Button */
.close {
  color: #aaa;
  font-size: 28px;
  font-weight: bold;
  width: 28px;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}


 
 
.myBtn{
  float: left;
  background-color:#ff8433;
  padding-bottom: 4%;
  padding-top: 4%;
  height: 200px;
  width:200px;
  border:0px;
  border-right:1px solid black;
  text-align: center;
   cursor: pointer;
   background-image: url(../images/icon-content.svg);
   background-position: left 95% top 95%;
background-repeat: no-repeat;
}

.myBtn_pares{
  float: left;
  background-color:#ff8433;
  padding-bottom: 4%;
  padding-top: 4%;
  height: 250px;
  width:250px;
  border:0px;
  border-right:1px solid black;
  text-align: center;
   cursor: pointer;
   background-image: url(../images/icon-content.svg);
   background-position: left 95% top 95%;
background-repeat: no-repeat;
}

.myBtn:hover {
  background-color:#ff8433; 
  opacity: 0.9;
}
#myBtn2{
  background-color:#ff7a32!important;
}
#myBtnModal{
  height: 5rem;
  background-color: #0966ce;
  border:1px solid black;
  padding-top: 1.5rem;
}


.header {
  overflow: hidden;
  background-color: #f1f1f1;
  padding: 20px 10px;
  border-bottom:#009eff 4px solid;
}

.header2 {
  overflow: hidden;
  background-color: #f1f1f1;
  padding: 20px 10px;
  border-bottom:#009eff 4px solid;
  border-radius: 15px;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #f1f1f1;
  padding: 20px 10px;
  border-top:#009eff 4px solid;
  text-align: center;
  z-index: 2;

}
.txthead{
  width:45%;
  padding-top: 5px;
  padding-right: 2%;
  text-align:right;
  float:left;
  color:#0062ae;
  font-family: Roboto,sans-serif;
font-size: 1.25rem;
line-height: 2.4;
line-height: 1.5;
}
.divcalendario{
  align-items: center;
  background-color: white;
  height: 76%;
  width: 19%;
  position: absolute; 
  float:left;
  margin-top: 2px!important;
  border-right:#009eff 4px solid;

}
.vanilla-calendar{
  margin-left: 1%!important;
  width: 19%;
  position: absolute; 
  float:left;
  margin-top: 2px!important;

}

/*form*/
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
  }
  
  /* Style the buttons that are used to open the tab content */
  .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
  }
  
  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color: #ddd;
  }
  
  /* Create an active/current tablink class */
  .tab button.active {
    background-color: #ccc;
  }
  
  /* Style the tab content */
  .tabcontent {
    display: none;
    padding: 6px 12px;
    border-top: none;
  } 

  .modalmask {
   display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 999!important; /* Sit on top */
  left: 10%;
  top: 70%;
  width: 80%; /* Full width */
  height: 20%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.0); /* Black w/ opacity */
}
.modalmask:target {
  opacity:1;
  pointer-events: auto;
}
.modalbox{
 overflow: hidden;
  background-color: #f1f1f1;
  padding: 20px 10px;
  border:#009eff 4px solid;
  animation-name: animacion2;
  animation-duration: 0.8s
  border-radius:5px;

}

@keyframes animacion2 {
  from {top: -100%; opacity: 0}
  to {top: 0; opacity: 1}
}

/*Más espacio entre los filtros*/

.espacio_filtros{
margin: 1.2%;
}

/* botones filtrado admin */
.filtrado_admin{
margin-right:1%; 
padding: 0.5%; 
color: white; 
background-color: #367cb3;
margin-bottom: 1%;
margin-top: 0.2%;
}

/*Barra de scroll horizontal*/
div.scrollhori{
background-color: #333;
  overflow: auto;
  white-space: nowrap;
}
div.scrollhori a{
display: inline-block;
  color: white;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}
div.scrollhori a:hover{
  background-color: #777;
  }

/*Imagenes del formulario de añadir profes a clases*/  
.img_form{
width: 10%;
}

.form_admin_profes{
  margin:5%;
}

.modalCalendar{
  display: none;
  align-items: center;
  background-color: white;
  height: 85%;
  width: 21%;
  position: absolute; 
  float:left;
 
  border-right:white 1px solid;
  animation-name: animacionleft;
  animation-duration: 0.6s;
}
.modal-content-calendar{
    height: 100%;
  width: 100%;
  padding:1px;
  animation-name: animacionleft;
  animation-duration: 1s;
}

@keyframes animacionleft {
  from {left: -20%; opacity: 1}
  to {left: 0; opacity: 1}
}

.button-calendar{

  background-color: white;
  position: absolute;
  width: 3.5rem;
  height: 3.5rem;
  z-index: 2;
  border:0px;
  border-style: none;
  cursor: pointer;
  background-image: url(../images/icon-open-sidebar.svg);
background-position: center center;
background-repeat: no-repeat;
}

.button-calendar:hover{
  background-color: #EEEEEE; 

  }

.button-calendar2{

  background-color: #0062ae;
  position: absolute;
  width: 3.5rem;
  height: 3.5rem;
  z-index: 2;
  border:0px;
  border-style: none;
  cursor: pointer;
 background-image: url(../images/icon-close_white.svg);
background-position: center center;
background-repeat: no-repeat;
}
.button-calendar2:hover{
  background-color: #0073cd; 
  }

  .notificaciones{
    background-color:#0062ae; 
    height: 3.5rem; width:100%;
     margin-top: -1px;
      padding: 1.125rem;
       padding-left: 4rem;
  }
  .txtnotificaciones{
    color:white;  
    font-size:1.25rem;
    font-family: 'Roboto Condensed',sans-serif;
  }
  
/*boton mostrar mas*/
.btn_mos {
    color: #0099CC;
    background-color: white;
    border: 2px solid #0099CC;
    border-radius: 6px;
      padding: 5px 5px;
      text-align: center;
      display: inline-block;
      font-size: 16px;
      margin-top: 2%;
      -webkit-transition-duration: 0.4s;
      transition-duration: 0.4s;
      cursor: pointer;
      text-decoration: none;
}
.btn1_mos {
      background-color: white; 
      color: black; 
      border: 2px solid #008CBA;
      border-radius: 6px;
}

/* salidas padres */

.pares_sortides{
background-color:#ff8433;
border-radius: 10px;
padding: 50px;
text-align: center;
color: white;
margin-top: 4%;
width: 25%;
margin-left: 37.3%;
}

/*Padres*/
.mensaje_pass{
  text-align: center;
    background-color: #f1f1f1;
    padding: 7%;
    border-radius: 10px;
    margin-top: 4%;
    width: 50%;
    margin-left: 25%;
      color:#0062ae;
}

.title_header{
  margin-left: 43%; 
  color:#0062ae;
}

.btn-par{
  padding: 1%; 
  color: white; 
  background-color: #367cb3;
}