body.home{
  background-color:#071334;
}
a.none{
  text-decoration: none;
  color: black;
}
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 0!important; /* Sit on top */
  left: 0;
  top: 0;
  margin-top: 22%;
  margin-left:55%;
  width: 50%; /* Full width */
  height: 50%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.0); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color:#f63!important;
  /*margin: 15% auto;*/ /* 15% from the top and centered */
  padding: 1%;
  border: 4px solid #071334!important;
  height: 100%;
  width: 100%; /* Could be more or less, depending on screen size */
  animation-name: animacion;
  animation-duration: 0.8s

}
@keyframes animacion {
  from {right: -100%; opacity: 0}
  to {right: 0; opacity: 1}
}

.separator{
  margin-top: 1%;
  margin-bottom: 1%;
  width: 100%;
  background-color: black;
  height: 1px;
  
}
/* The Close Button */
.close {
  color: #aaa;
  font-size: 28px;
  font-weight: bold;
  width: 28px;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}


 
.myBtn{
  float: left;
  background-color:orange;
  padding-bottom: 4%;
  padding-top: 4%;
  height: 200px;
  width:200px;
  border:0px;
  border-right:1px solid black;
  text-align: center;
   cursor: pointer;
}
.myBtn:hover {
  background-color: orange; 
  opacity: 0.9;
}
#myBtnModal{
  height: 5rem;
  background-color: #0966ce;
  border:1px solid black;
  padding-top: 1.5rem;
}


.header {
  overflow: hidden;
  background-color: #f1f1f1;
  padding: 20px 10px;
  border-bottom:#009eff 4px solid;
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #f1f1f1;
  padding: 20px 10px;
  border-top:#009eff 4px solid;
  text-align: center;
  z-index: 2;

}
.txthead{
  float: left;
}
.txthead{
  float: right ;
}
.divcalendario{
  align-items: center;
  background-color: white;
  height: 76%;
  width: 19%;
  position: absolute; 
  float:left;
  margin-top: 2px!important;
  border-right:#009eff 4px solid;

}
.vanilla-calendar{
  margin-left: 1%!important;
  width: 19%;
  position: absolute; 
  float:left;
  margin-top: 2px!important;

}