body.home{
  background-color:#071334;
}
a.none{
  text-decoration: none;
  color: black;
}
.insertarcsv{
margin-top: 0.5%;
margin-right: 0.5%;
width: auto;
padding: 5px;
font-size: 1rem;
line-height: 1.5;
color: #495057;
background-color: #fff;
background-clip: padding-box;
border: 1px solid #ced4da;
border-radius: .25rem;
transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 0!important; /* Sit on top */
  left: 0;
  top: 0;
  margin-top: 22%;
  margin-left:55%;
  width: 50%; /* Full width */
  height: 50%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.0); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  
  /*margin: 15% auto;*/ /* 15% from the top and centered */
  /*padding: 1%;*/
  -webkit-transition: .6s left ease-out,.4s .6s background ease-out;
  -moz-transition: .6s left ease-out,.4s .6s background ease-out;
  -o-transition: .6s left ease-out,.4s .6s background ease-out;
  transition: .6s left ease-out,.4s .6s background ease-out;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -ms-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  animation-duration: 0.8s, 0.6s;
  animation-delay: 0s, 0.6s;
  height: 100%;
  width: 100%; /* Could be more or less, depending on screen size */
  animation-name: animacion, fondo;
  background: rgba(0,43,78,0);
  border: none;
  border-radius: 0;

}
@keyframes animacion {
  from {right: -100%; opacity: 0}
  to {right: 0; opacity: 1}
}
@keyframes fondo {
  0% {
    background: rgba(0,43,78,0);
  }
  100% {
    background: rgba(0,43,78,.9);
  }
}

.separator{
  margin-top: 1%;
  margin-bottom: 1%;
  width: 100%;
  background-color: black;
  height: 1px;
  margin-left: -10px;
}
/* The Close Button */
.close {
  color: #aaa;
  font-size: 28px;
  font-weight: bold;
  width: 28px;
  float: right;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.closehome {
  color: #aaa;
  font-size: 28px;
  font-weight: bold;
  width: 28px;
  float: none;
}

.closehome:hover,
.closehome:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}


 
 
.myBtn{
  float: left;
  background-color:#ff8433;
  padding-bottom: 4%;
  padding-top: 4%;
  height: 200px;
  width:200px;
  border:0px;
  border-right:1px solid black;
  text-align: center;
   cursor: pointer;
   background-image: url(../images/icon-content.svg);
   background-position: left 95% top 95%;
background-repeat: no-repeat;

}

.myBtn_pares{
  float: left;
  background-color:#ff8433;
  padding-bottom: 4%;
  padding-top: 4%;
  height: 250px;
  width:250px;
  border:0px;
  border-right:1px solid black;
  text-align: center;
   cursor: pointer;
   background-image: url(../images/icon-content.svg);
   background-position: left 95% top 95%;
background-repeat: no-repeat;
}

.myBtn_sortides_pares{
 margin-top:5%;
  background-color:#ff8433;
  padding-bottom: 4%;
  padding-top: 4%;
  height: 230px;
  width:30%;
  border:0px;
  border-right:1px solid black;
  text-align: center;
   cursor: pointer;
   background-image: url(../images/icon-content.svg);
   background-position: left 95% top 95%;
   background-size: 9%;
background-repeat: no-repeat;
margin-left: 12.6%;
}


.myBtn:hover {
  background-color:#ff8433; 
  opacity: 0.9;

}

#myBtn2{
  background-color:#ff7a32!important;
}
#myBtn3{
  background-color:#ff7033!important;
}
#myBtnModal{
  position: relative;
  cursor: pointer;
  height: 5rem;
  background-color: #0966ce;
  border:0px solid black;
  padding-top: 0.5rem;
  width: 225px;
  float:left;
  border-left:0px;
  border: 1px solid rgba(0,0,0,.1);
}
/*#myBtnModal:hover {
  background-color:#86a0e8;
  transition: .4s all ease-in-out;
}*/


.margen_botones_modal{
  margin-left: 1rem;
  margin-top: 1.5rem;
}

thead{
   position: sticky;
  top: 0;
}
.header {
  overflow: hidden;
  background-color: #f1f1f1;
  padding: 20px 10px;
  border-bottom:#009eff 4px solid;
}

.header2 {
  overflow: hidden;
  background-color: #f1f1f1;
  padding: 20px 10px 10px 10px;
  border-bottom:#009eff 4px solid;
  border-radius: 15px;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #f1f1f1;
  padding: 20px 10px;
  border-top:#009eff 4px solid;
  text-align: center;
  z-index: 2;

}
.txthead{
  width:45%;
  padding-top: 5px;
  padding-right: 2%;
  text-align:right;
  float:left;
  color:#0062ae;
  font-family: Roboto,sans-serif;
font-size: 1.25rem;
line-height: 2.4;
line-height: 1.5;
}
.divcalendario{
  align-items: center;
  background-color: white;
  height: 76%;
  width: 19%;
  position: absolute; 
  float:left;
  margin-top: 2px!important;
  border-right:#009eff 4px solid;

}
.vanilla-calendar{
  margin-left: 1%!important;
  width: 19%;
  position: none; 
  float:left;
  margin-top: 2px!important;

}

/*form*/
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
  }
  
  /* Style the buttons that are used to open the tab content */
  .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
  }
  
  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color: #ddd;
  }
  
  /* Create an active/current tablink class */
  .tab button.active {
    background-color: #ccc;
  }
  
  /* Style the tab content */
  .tabcontent {
    display: none;
    padding: 6px 12px;
    border-top: none;
  } 

  .modalmask {
   display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 999!important; /* Sit on top */
  left: 10%;
  top: 70%;
  width: 80%; /* Full width */
  height: auto; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.0); /* Black w/ opacity */
}
.modalmask:target {
  opacity:1;
  pointer-events: auto;
}
.modalbox{
 overflow: hidden;
  background-color: #f1f1f1;
  padding: 20px 10px;
  border:#009eff 4px solid;
  animation-name: animacion2;
  animation-duration: 0.8s;
  border-radius: 5px;

}

@keyframes animacion2 {
  from {top: -100%; opacity: 0}
  to {top: 0; opacity: 1}
}

/*Más espacio entre los filtros*/

.espacio_filtros::placeholder{
color:black;
}
.espacio_filtros{
margin: 0.5%;

  padding: 6px 16px;
  
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}


/* botones filtrado admin */
.filtrado_admin{
margin-right:1%; 
padding: 0.5%; 
color: white; 
background-color: #367cb3;
margin-bottom: 1%;
margin-top: 0.2%;
}

/*Barra de scroll horizontal*/
div.scrollhori{
background-color: #333;
  overflow-y: scroll;
  white-space: nowrap;
}
div.scrollhori a{
  color: white;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}


/*Imagenes del formulario de añadir profes a clases*/  
.img_form{
width: 10%;
}

.form_admin_profes{
  margin:5%;
}

.modalCalendar{
  height: 90%;
  display: none;
  align-items: center;
  background-color: white;
  /* height: 85%; */
  width: 21%;
  position: absolute; 
  float:left;
 
  border-right:white 1px solid;
  animation-name: animacionleft;
  animation-duration: 0.6s;
}
.modal-content-calendar{
    height: 100%;
  width: 100%;
  padding:1px;
  animation-name: animacionleft;
  animation-duration: 1s;
}

@keyframes animacionleft {
  from {left: -20%; opacity: 1}
  to {left: 0; opacity: 1}
}

.button-calendar{

  background-color: white;
  position: absolute;
  width: 3.5rem;
  height: 3.5rem;
  z-index: 2;
  border:0px;
  border-style: none;
  cursor: pointer;
  background-image: url(../images/icon-open-sidebar.svg);
background-position: center center;
background-repeat: no-repeat;
}

.button-calendar:hover{
  background-color: #EEEEEE; 

  }

.button-calendar2{

  background-color: #0062ae;
  position: absolute;
  width: 3.5rem;
  height: 3.5rem;
  z-index: 3;
  border:0px;
  border-style: none;
  cursor: pointer;
 background-image: url(../images/icon-close_white.svg);
background-position: center center;
background-repeat: no-repeat;
}
.button-calendar2:hover{
  background-color: #0073cd; 
  }

  .notificaciones{
    background-color:#0062ae; 
    height: 3.5rem; width:100%;
     margin-top: -1px;
      padding: 1.125rem;
       padding-left: 4rem;
  }
  .txtnotificaciones{
    color:white;  
    font-size:1.25rem;
    font-family: 'Roboto Condensed',sans-serif;
  }
  
/*boton mostrar mas*/
.btn_mos {
    color: #0099CC;
    background-color: white;
    border: 2px solid #0099CC;
    border-radius: 6px;
      padding: 5px 5px;
      text-align: center;
      display: inline-block;
      font-size: 16px;
      margin-top: 2%;
      -webkit-transition-duration: 0.4s;
      transition-duration: 0.4s;
      cursor: pointer;
      text-decoration: none;
}
.btn1_mos {
      background-color: white; 
      color: black; 
      border: 2px solid #008CBA;
      border-radius: 6px;
}

/* salidas padres */

.pares_sortides{
background-color:#ff8433;
border-radius: 10px;
padding: 50px;
text-align: center;
color: white;
margin-top: 4%;
width: 25%;
margin-left: 37.3%;
}
.popover-body{
  background: rgba(23, 162, 184, 0.7);
  border-radius: 5px;
}
.popover {
  background: none;
}
.popover-header { 
  display: none; 
}
.list-group-item{
  border: none;
  padding: 5px 10px;
  margin-bottom: 3px;
}
.arrow::after, .bs-popover-right .arrow::after{
  border-right-color: rgba(23, 162, 184, 0.7);
}
.arrow::after, .bs-popover-left .arrow::after{
  border-left-color: rgba(23, 162, 184, 0.7);
}

/*Padres*/
.mensaje_pass{
  text-align: center;
    background-color: #f1f1f1;
    padding: 7%;
    border-radius: 10px;
    margin-top: 4%;
    width: 50%;
    margin-left: 25%;
      color:#0062ae;
}

.title_header{
  margin-left: 43%; 
  color:#0062ae;
}

.btn-par{
  padding: 1%; 
  color: white; 
  background-color: #367cb3;
}

.email_style{
  text-align: center;
  width: 40%;
  height: 30px;
}

/*feedback*/
.rate {
  margin-left:1%;
  float: left;
  height: 46px;
  padding: 0 10px;
}

.rate:not(:checked) > input {
  position: absolute;
  top: -9999px;
}

.rate:not(:checked) > label {
  float: right;
  width: 45px;
  height: 45px;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
  font-size: 30px;
  color: #ccc;
}

.rate:not(:checked) > label:before { content: url(../images/star-regular.png); }

.rate > input:checked ~ label { content: url(../images/star-solid.png); color: #ffc700; }

.rate:not(:checked) > label:hover, .rate:not(:checked) > label:hover ~ label { content: url(../images/star-solid.png); color: #deb217; }

.rate > input:checked + label:hover, .rate > input:checked + label:hover ~ label, .rate > input:checked ~ label:hover, .rate > input:checked ~ label:hover ~ label, .rate > label:hover ~ input:checked ~ label { color: #c59b08; }

.purple-border textarea {
    border: 1px solid #ba68c8;
}
.purple-border .form-control:focus {
    border: 1px solid #ba68c8;
    box-shadow: 0 0 0 0.2rem rgba(186, 104, 200, .25);
}

.green-border-focus .form-control:focus {
    border: 1px solid #8bc34a;
    box-shadow: 0 0 0 0.2rem rgba(139, 195, 74, .25);
}


.btn-fotos-pares{
  text-align: center;
  background-color: #367cb3;
   color: white; padding: 0.5%;
   margin-top: 5%;
   height: 50px;
  width: 100px;
}

.div-fotos-pares{
    margin-top: 8%;
    background-color:#ff8433;
    padding: 5%;
    color: white;
    text-align: center;
    width: 42%;
    border-radius: 20px;
    margin-left: 28%;
}

.btn-atras{
  float: left; 
  margin-left: 1.3%; 
  color: #071334;
}

.btn-tutorial{
  padding: 6px; 
  color: white; 
  background-color:#2da0fa;
}

.close-tutorial{
color:black;
background-color:#f1f1f1;
margin-right:6%;
margin-top: 1.5%;
}
#detalles_modal{
  width: 130px;
  height: 110px;
  background-color:#ff8433!important;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -ms-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  animation-name: opacidad, detalles;
  animation-duration: 0s, 0.6s;
  animation-delay: 0.6s, 0.6s;
  transform-origin: right;
  opacity: 0;
  border-right-color: white;
  border-right-style: solid;
  border-right-width: 1px;
  color: white;
  margin-top: 54px;
  text-align: center;
  transform-style: preserve-3d;
}
.modal-detail{
  padding: 10px;
}

@keyframes detalles {
  from {transform: perspective(600px) rotateY(-90deg);}
  to {transform: perspective(0px) rotateY(0deg) ;}
}
@keyframes opacidad {
  from { opacity: 0; }
  to   { opacity: 1; }
}
.m-detalles{
  margin-bottom: 30px;
  margin-right: 57px;
  margin-top: 5px;
}
.mobile_button{
  width: 100%!important;
  height: 46vh !important;
  margin-bottom: 14px;
  margin-top: 14px;
  animation-duration: 0.6s;
  animation-name: escala;
  border: solid 1px white;
}
@keyframes escala {
  0% { transform: scale(0.5);}
  50%   { transform: scale(1.1); }
  100%   { transform: scale(1); }
}
#bkg_mobile{
  background-color: #071334;
}

@keyframes shadow-pulse{
  0% {
    box-shadow: 0 0 0 0px rgba(255, 255, 255, 0.3);
  }
  100% {
    box-shadow: 0 0 0 70px rgb(255, 255, 255, 0);
  }
}
.vanilla-calendar{
  position: none;
}
.centrado{
  margin-left: auto;
  margin-right: auto;
  margin-top: 85%;
}